# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=telegram_server

SESSIONS_DIR=./sessions

# JWT
JWT_SECRET=CHANGEME
JWT_REFRESH_SECRET=CHANGEME
JWT_ALGORITHM=HS256
JWT_ACCESS_EXPIRE_MINUTES=30
JWT_REFRESH_EXPIRE_DAYS=7


ADMIN_USERNAME=CHANGEME
ADMIN_PASSWORD=CHANGEME

HOST=0.0.0.0
PORT=8001
